@import url('https://fonts.googlepis.com/css?family=Poppins:300,400,')
{
	outline: none !important;
}


*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	
	font-family:'Poppins', sans-serif;
}

 html
 {
   scroll-behavior: smooth;
 }


header
{
 position: relative;
}

p
{
	font-size: 1.15rem;
}
.sec111
{   
    margin-top: 0;   
	height: relative;
	background:#000;

}

.sec111:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background:linear-gradient(to right,#f00,#f00,#0f0,#0ff,#ff0,#0ff) ;
  mix-blend-mode: color;
  pointer-events: none;


}
.sec111 section video
{
  object-fit: cover;
}
.heading h1
{

  margin-top: 7.3%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);	
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 4.23em;
  font-family: sans-serif;
  letter-spacing: 0.023em;
}

.heading .he
{
	display: inline-block;
	animation: animate 1.1s linear forwards;

}

@keyframes animate
{
   0%
   {
   	opacity: 0;
   	transform: rotateY(90deg);
    filter: blur(10px);
   }

   100%
   {
   	opacity: 1;
   	transform: rotateY(0deg);
   	filter: blur(0);
   }
}

.heading .he:nth-child(1)
{
	animation-delay: 1s;
}

.heading .he:nth-child(2)
{
	animation-delay: 1.25s;
}
.heading .he:nth-child(3)
{
	animation-delay: 1.50s;
}
.heading .he:nth-child(4)
{
	animation-delay: 1.75s;
}
.heading .he:nth-child(5)
{
	animation-delay: 2s;
}
.heading .he:nth-child(6)
{
	animation-delay: 2.25s;
}
.heading .he:nth-child(7)
{
	animation-delay: 2.50s;
}
.heading .he:nth-child(8)
{
	animation-delay: 2.75s;
}
.heading .he:nth-child(9)
{
	animation-delay: 3s;
}
.heading .he:nth-child(10)
{
	animation-delay: 3.25s;
}
.heading .he:nth-child(11)
{
	animation-delay: 3.5s;
}
.heading .he:nth-child(12)
{
	animation-delay: 3.75s;
}
.heading .he:nth-child(13)
{
	animation-delay: 4s;
}







.scrolled
{
	background: #000;

}


.menu-bar
{
  background: rgba(0,100,0);
  height: 100px;
  position: relative;
  border-bottom: 2px solid orange;
  text-align: center;
  z-index: 1000;
  
}

.logo
{   
	position: relative;
    width: 150px;
 	height: 150px;
	margin: -27px 15px;
	float: left;

}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	position: relative;
	color: #fff;

}
.menu-bar ul li
{

	position: relative;
	width: 120px;
	margin: 15px;
	padding: 15px;

}

.menu-bar ul li a
{
 text-decoration: none;
 color: #fff;

}

.active, .menu-bar ul li:hover
{
  background: #2bab0d;
  border-radius: 10px;

}

.menu-bar .fa
{
	margin-right: 8px;
}

.sub-menu-1
{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background-color: rgba(0,100,0);
	 margin-top: 15px;
	 margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;

}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 220px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}

.fa-angle-right
{
	float: right;
}
.sub-menu-2
{
	display: none;

}

.signup
{
	float: right;
}
.hovor-me:hover .sub-menu-2
{
	position: absolute;
	display:block;
	margin-top: -40px;
	margin-left: 200px;
	background: rgb(0,100,0); 
}

.banner
{
  position: relative;
  height: 100vh;
  background: url("bgbg.jpg");
  background-size: cover;
}

.banner:before,
.sec2:before,
.contact:before
{
	content: '';
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 400px;
	background:linear-gradient(#000,transparent);
    background-repeat: no-repeat;
    pointer-events: none;
}

.banner:after
{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 400px;
	background:linear-gradient(360deg,#000,transparent);
    background-repeat: no-repeat;
    pointer-events: none;

}
.sec2:after,
.contact:after
{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 300px;
	background:linear-gradient(360deg,#000,transparent);
    background-repeat: no-repeat;
    pointer-events: none;
}

.height100p
{
	height: 100vh;
}

.h100
{
	height: 100%;
}

.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

.contentBox h1
{
	
   font-weight: 800;
   color: #fff;
   text-transform: uppercase;
   font-size: 5rem;
}

.contentBox p
{
	position: relative;
	color: #fff;
	font-size: 1.3rem;
}

.sec1
{
	padding: 100px 0;
	background: #000;

}

.headerText
{
	color: #fff;
	margin-bottom: 25px;

}

.headerText h2
{
	font-size: 2.5rem;
	color: #fff;

}

.placeBox
{
	position: relative;
	max-width: 300px
	height:400px;
	margin: 0 auto;
	background:#000;
	margin-top: 30px;

}

.placeBox .imgBx
{
	width: 100%;
	height: 100%;

}

.placeBox .imgBx img
{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.placeBox .content
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
}

.placeBox .content h3
{
	position: relative;
	top:10vh;
	margin: 0;
	padding: 10px;
	background:rgba(0,0,0,.95);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}

.placeBox .content h3 span
{
	font-size: 16px;
	font-weight: 500;
}

.sec2
{
	position: relative;
	background:url(background2.jpg);
    height: 100vh;


}

.sec2 h2
{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;

}

.btnD1
{
	border:2px solid #fff;
	color: #000;
	background:#fff;
	border-radius: 50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}

.blog
{
	position: relative;
	padding: 100px 0;
	background:#000;
}

.blogpost
{
  position: relative;
  width: 100%;
  margin-top: 30px;
  	background:#fff;

}

..blogpost .imgBx
{
	height: 400px;
}

.blogpost .imgBx img
{
	width: 100%;
	height: 70vh;
	object-fit: cover;


}

.blogpost .content
{
	padding: 15px;

}

.blogpost .content h1
{
  margin: 0;
  padding: 0 0 10px;
  font-weight: 600;
  font-size: 1.5rem;

}

.btnD2
{
	background: #262628;
	color: #fff;
	border-radius: 30px;
	padding: 10px 20px;
	float: right;
}

.contact
{
	position: relative;
	padding: 100px 0;
	background:url(contactus.jpg);
	background-size: cover;
	min-height: 100vh;

}

.contact form
{
	position: relative;
	z-index: 1000;
}

.contact.form-control
{
	background: transparent;
	border:none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	height: 50px;
	border-radius: 0;
	background: rgba(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;

}

.contact.form-control:focous,
.contact.form-control:hover
{
	border:none;
	border-bottom: 2px solid rgba(255,255,255,1);
	box-shadow: none;
}

.contact .textarea
{
	min-height: 100px;

}

.contact label
{
	color: #fff;
	font-size: 1.25rem;


}

footer
{
	background: #000;
	padding: 50px 0 0;
}

.sci
{
	margin: 0;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li
{
	list-style: none;
	margin: 0 20px;

}

.sci li a
{
	color: #777;
	font-size: 2em;
	transition: .5s;
}

.sci li a:hover
{
  color: #fff;
}

.cpryt
{   
	margin-top: 20px;
	text-align: center;
	color: #777;
	transition: .5s;
}

.cpryt:hover
{
	color: #fff;
}

.gotopbtn{
	position: fixed;
	width: 45px;
	height: 50px;
	background: transparent;
	bottom: 15px;
	right: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;

}

.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 800px)
{
  .menu-bar ul {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
  .col



  .sec111
  {
    position: relative;
    margin-top: 0;   
	height: relative;
	background:#000; 
  }

  .sec111:before
 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background:linear-gradient(to right,#f00,#f00,#0f0,#0ff,#ff0,#0ff) ;
  mix-blend-mode: color;
  pointer-events: none;
}
  .sec111 section video
  {
  	position: relative;

  }
  .menu-toggle
	{
		display: block;
	}
	
 
}
