body{
	font-family:sans-serif;

}
h1{
	text-align: center;
	color: forestgreen;
	margin: 30px 0 50px;
}
.gallery{
	margin: 10px 50px;
}
.gallery img{
	width: 335px;
	height: 200px;
	padding:5px;
	filter: grayscale(100%);
	transition: 0.5s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1)
}


.menu-bar
{
  background: rgba(0,100,0);
  height: 100px;
  position: sticky;
  border-bottom: 2px solid orange;
  text-align: center;
  z-index: 2000000;
  
}

.logo
{   
	position: relative;
    width: 100px;
 	height: 80px;
	margin: 15px 15px;
	float: left;

}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;

}
.menu-bar ul li
{

	width: 120px;
	margin: 15px;
	padding: 15px;

}

.menu-bar ul li a
{
 text-decoration: none;
 color: #fff;

}

.active, .menu-bar ul li:hover
{
  background: #2bab0d;
  border-radius: 10px;

}

.menu-bar .fa
{
	margin-right: 8px;
}

.sub-menu-1
{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background-color: rgba(0,100,0);
	 margin-top: 15px;
	 margin-left: - 15px;

}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;

}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 220px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}

.fa-angle-right
{
	float: right;
}
.sub-menu-2
{
	display: none;

}

.signup
{
	float: right;
}
.hovor-me:hover .sub-menu-2
{
	position: absolute;
	display:block;
	margin-top: -40px;
	margin-left: 200px;
	background: rgb(0,100,0); 
}



footer
{
	background: #000;
	padding: 50px 0 0;
}

.sci
{
	margin: 0;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li
{
	list-style: none;
	margin: 0 20px;

}

.sci li a
{
	color: #777;
	font-size: 2em;
	transition: .5s;
}

.sci li a:hover
{
  color: #fff;
}

.cpryt
{   
	margin-top: 20px;
	text-align: center;
	color: #777;
	transition: .5s;
}

.cpryt:hover
{
	color: #fff;
}
